<div class="contact-container">
    <div class="contact-item">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Jayesh Singla</mat-card-title>
                <mat-card-subtitle>IIT Bombay</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQAgrsY1Zw5553wtz3MX7Tm6FWm-1nGG-pENw&usqp=CAU">
            <mat-card-content>
                <div>
                    <h2>Roll Number</h2>
                    <p>190050053</p>
                </div>
                <div>
                    <h2>Email</h2>
                    <p>jayeshs@cse.iitb.ac.in</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="contact-item">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Gaurav P</mat-card-title>
                <mat-card-subtitle>IIT Bombay</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQAgrsY1Zw5553wtz3MX7Tm6FWm-1nGG-pENw&usqp=CAU">
            <mat-card-content>
                <div>
                    <h2>Roll Number</h2>
                    <p>190050037</p>
                </div>
                <div>
                    <h2>Email</h2>
                    <p>gaurav@cse.iitb.ac.in</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
